/*General*/
.main {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding:8% 0 8% 0;
}

.main section {
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 4% 0;
}

.article {
  width:100%;
  // background: #fff;
  background-image: linear-gradient(to top right, #00FFE8 ,#FFB900);
  padding: 20px;
}

.article-main-title, .article h3, .main p, .intro-list {
  // color:#fff;
  font-family:monospace;
}

.article-main-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin:0 0 0 0;
}

.article-first-title, .article-title {
  font-size: 25px;
  line-height: 0.1em;
}

.article-first-title {
  margin-top: 3%;
}

.article-title {
  margin-top: 6%;
}

.main p, .intro-list {
  font-size: 18px;
}

/*Projects and Friends*/

.projects-row, .friends-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.friends-row {
  margin-top: 3%;
}

.projects-row a {
  width: 20%;
}

.friends-row a {
  width: 25%;
}

.projects-row img, .friends-row img {
  width: 100%;
}

@media screen and (max-width:980px) {
  .article-first-title, .article-title {
    line-height: 1em;
  }

  .projects-row a {
    width: 40%;
  }
}

@media screen and (max-width:767px) {
  .projects-row {
    justify-content: center;
  }

  .projects-row a {
    width: 60%;
  }

  .article-main-title {
    font-size: 25px;
  }

  .article-first-title, .article-title {
    font-size: 20px;
  }

  .main p, .intro-list {
    font-size: 14px;
  }
}
