.partners {
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: 16% 0 8% 0;
}

.aside-container {
  width: 80%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.partners h2 {
  color:#fff;
  font-family:monospace;
  font-size:30px;
  text-transform: uppercase;
  margin:0% auto 0 auto;
}

.partners a {
  width:50%;
}

.partners a img {
  width:100%;
}
